<div class="container">
  <h1>Este es mi primer proyecto en angular</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    <li *ngFor='let task of tasks()'>
      {{ task }}
    </li>
  </ul>
  <br/>
  <h2>{{ 'Hola Mundo!'.repeat(4) }}</h2>
  <p> La suma de 3 + 5 es:   {{ 3+5 }}</p>
  <p> Hola, soy {{ name() }} y mi edad es: {{ age }} años</p>
  <hr/>
  <!-- Property binding with angular -->
  <img [src]="person().avatar" alt="" />
  <input type="text" [value]="person().age" />
  <button [disabled]="disabled">Click me</button>
  <p>object person: {{ person().name }}
  </p>
  <hr/>
  <!-- Events handler -->
  <button (click)="clickHandler()">click me</button><br/>
  <button (dblclick)="clickHandler()">double click</button><br/>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)" />
  <p>(change on input text)</p>
  <input type="text" [value]="person().age" (change)="changeHandler($event)" />  
  <p>(keydown)</p>
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)" />
  <p>(keydown on shorthot)</p>
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()" />
  <!-- Events Examples
    * click: Se activa cuando se hace clic en un elemento. Por ejemplo:<button (click)="onSave()">Guardar</button>
    * dblclick: Se activa cuando se hace doble clic en un elemento. Por ejemplo:<div (dblclick)="onDoubleClick()">Haz doble clic aquí</div>
    * input: Se activa cuando se introduce texto en un campo de entrada (como un input o textarea). Útil para detectar cambios en el contenido.<input (input)="onInput($event.target.value)" />
    * change: Se activa cuando cambia el valor de un elemento de entrada (por ejemplo, un select).<select (change)="onSelectionChange($event.target.value)">   <option value="option1">Opción 1</option>   <option value="option2">Opción 2</option> </select>
    * keydown: Se activa cuando se presiona una tecla. Puedes especificar la tecla o el código que deseas enlazar. Por ejemplo:<input (keydown.enter)="onKeydown($event)" />
    * keyup: Similar a keydown, pero se activa cuando se suelta una tecla.
    * mouseover: Se activa cuando el puntero del ratón entra en un elemento.
    * mouseout: Similar a mouseover, pero se activa cuando el puntero del ratón sale de un elemento.
    * mouseleave: Se activa cuando el puntero del ratón sale de un elemento. Similar a mouseout, pero no se propaga a los elementos secundarios. <div (mouseleave)="onMouseLeave()">El ratón se fue</div>
    * focus: Se activa cuando un elemento obtiene el foco.
    * blur: Similar a focus, pero se activa cuando un elemento pierde el foco.
  -->

  <hr/><hr/>
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)" />
  <p>name changed to: {{ name() }}</p>

  <hr>
  <h1>Directivas de control</h1>
  <p>Total de elementos en la lista: {{ tasks().length }}</p>
  <ul>
    <li *ngFor='let task of tasks(); index as i'>
      {{ i }} {{ task }}
    </li>
  </ul>
  <hr/><hr/>
  <h2>Debug Array</h2>
  <!-- Debug the state of the array -->
  <pre>
    <code>
      {{ tasks() | json }}
    </code>
  </pre>
  <hr/><hr/>
  <div *ngIf="1 !== 1">
    my contend no es mostrado
  </div>
  <div *ngIf="1 === 1">
    my contend es mostrado
  </div>
  <hr/>  
  <div *ngIf="name() === 'Rubén' ">
    Mi nombre es: {{ name() }}
  </div>
  @if (name() === 'Rubén') 
  {
    Mi nombre es: {{ name() }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Nueva version Angular</b>
  }
  <hr/>
  <input type="number" [value]="person().age" (change)="changeAgeHandler($event)" />
  <div *ngIf="person().name === 'Marinez' && person().age > 40; else elseBlock ">
    {{ person() | json }}
  </div>
  <ng-template #elseBlock>
    *** La persona no se encuentra dada de alta
  </ng-template>
  <h2> If and else with new sintaxs </h2>
  @if (person().name === 'Marinez' && person().age > 40) {
    <div>
      {{ person() | json }}
    </div>
  } @else {
    <div>
      *** La persona no se encuentra dada de alta
    </div>
  }

  <hr/>
  <h2>ngSwitch</h2>
  <input type="text" [value]="person().name" (keydown.shift.c)="changeName($event)" />
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'Rubén'">yo soy Rubén</p>
    <p *ngSwitchCase="'Marinez'">yo soy Rubén Marinez</p>
    <p *ngSwitchDefault>Persona no identificada</p>
  </div>

  <hr/><hr/>
  <h2>Manejo de formularios</h2>
  <input type="color" [formControl]="colorCtrl">
  <p>Color: {{ colorCtrl.value }}</p>

  <hr/><hr/>
  <h2>Aplicar estilos al modo angular</h2>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"/>
    </g>
  </svg>
  <hr/>
  <input type="number" [formControl]="widthCtrl" />
  <span class="box" [style.width.px]="widthCtrl.value" ></span>

  <hr/><hr/>
  <h2>Activar clases de forma dinamica de acuerdo a un estado</h2>
  <p>
    <input type="text" [formControl]="nameCtrl"><br/>
    <!--span class="message-error" *ngIf="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span-->
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
  </p>
  <p>
    <input type="text" />
  </p>
  <hr/><hr/>
  <h2>Computed State (Estados compuestos con computed)</h2>
  <p>Ver el ejercicio en la aplicacion ToDoApp / tasksByFileter</p>
  <hr/><hr/>
  <h2>Persistencia con local storege [ Effect ]   /    Uso de effect para local</h2>
</div>